@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Inter:wght@400;600&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

body {
  @apply bg-rift-900 text-rift-100 font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-fantasy;
}